extends ../layout/root

block content
  .livescore-board
    table
      tbody
        tr(class='home')
          td(class='team-name')= home.name
          td(class='rounds-won')= home.roundsWon
          - for (var x = 0; x < 6; x++)
            if home.roundsWon + guest.roundsWon >= x
              td(class='round-score')= home.scores[x]

        tr(class='guest')
          td(class='team-name')= guest.name
          td(class='rounds-won')= guest.roundsWon
          - for (var x = 0; x < 6; x++)
            if home.roundsWon + guest.roundsWon >= x
              td(class='round-score')= guest.scores[x]
